/* General rules for the whole page */

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Buttons on the right side */

#buttons {
  position: fixed;
  right: 20px;
}
#buttons a {
  display: block;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 5px #888888;
}
#buttons a:hover {
  background-color: #fafafa;
}
#buttons a:focus, #buttons a:active {
  box-shadow: 0 0 5px #888888;
}
#buttons #play span {
  font-size: 0.8em;
}
#buttons #add {
  display: none;
}

/* The slides themselves */

#slides {
  padding-right: 100px;
}
#slides .slide {
  float: left;
  margin: 10px;
}
#slides .slide section {
  height: 200px;
  width: 300px;
  overflow: hidden;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background: radial-gradient(#555a5f, #1c1e20);
  color: #eeeeee;
}

#slides .slide section h2 {
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 28px;
}
#slides .slide section p {
  font-family: Lato, sans-serif;
}
#slides .slide section p a {
  font-family: Lato, sans-serif;
  color: #13daec;
  text-decoration: none;
}
#slides .slide section p img {
  width: 100%;
}
#slides .slide span.position {
  border: 1px solid black;
  padding: 2px 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* The delete button */
#slides .slide .delete {
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid black;
  width: 22px;
  height: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 11px;
  margin: 7px 0 0 308px;
  box-shadow: 2px 2px 2px #888888;
  display: none;
}
#slides .slide .delete:hover {
  background-color: #fafafa;
}
#slides .slide .delete:active {
  color: black;
  box-shadow: 0 0 2px #888888;
}

/* Subbuttons */
#slides .slide .subbuttons {
  margin: 0;
  text-align: right;
}
#slides .slide .subbuttons a {
  color: black;
  border: 1px solid black;
  padding: 2px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  box-shadow: 2px 2px 2px #888888;
  background-color: #f0f0f0;
  display: none;
}
#slides .slide .subbuttons a:hover {
  background-color: #fafafa;
}
#slides .slide .subbuttons a:active {
  box-shadow: 0 0 2px #888888;
}

/* The modal box */
#modalbox {
  display: none;
  background: white;
  text-align: center;
  padding: 50px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
}
#modalbox #modal_title, #modalbox #modal_body {
  width: 400px;
}

/* What is displayed on step 3 */
body.step3 #slides .slide .delete { display: inline; }
body.step3 #buttons #add { display: block; }

/* What is displayed on step 4 */
body.step4 #slides .slide .subbuttons .edit { display: inline; }
